{% load static %}
<div id="main">
<div id="builder_container" class="panel panel-default">
  <div class="panel-heading">
        <span id="queryBuilderInfo" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <h3 class="panel-title">Query Builder
       </h3>

  </div>
  <div id="builder"class="panel-body">

  </div>
</div>
<div id="buttons" class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button id="send_query" class="btn btn-default" type="button">Send Query</button>
      </span>
      <input id="query_text" type="text" class="form-control" readonly>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div>
<div class="panel panel-default" id="options">
  <div class="panel-heading">
      <h3 class="panel-title">Query Options</h3>
  </div>
  <div class="panel-body">
    <form id="optionForm" class="form-horizontal" >
      <fieldset>
        <div id=queryOptCheck class="form-group">
          <div class="checkbox">
            <label for="historical">
              <input type="checkbox" id="historical" value="Historical">
              Historical
            </label>
          </div>
          <div class="checkbox">
            <label for="continuous">
              <input type="checkbox" name="checkboxes" id="continuous" value="Continuous">
              Continuous
            </label>
          </div>
          <div class="checkbox">
            <label  for="unified">
              <input type="checkbox" name="checkboxes" id="unified" value="Unified">
              Unified
            </label>
          </div>
        </div>
        <div id=queryOptLimit class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Limit</span>
            <input size="5" id="limit" type="text" class="form-control input-sm" aria-describedby="basic-addon1">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script src="{% static 'bgpWebApp/js/query_builder.js' %}">
</script>
