{% extends 'bgpWebApp/base.html' %}

{% block title %}Home{% endblock %}
{% block headers %}{% endblock %}
{% block content %}
<h1>Hello {{ userIp }}!</h1>

<div id="greeting">
	Welcome to the BGPInspector (BGPI)! The BGPI is a web application. It's purpose is to enable remote access to a VAST database with BGP data and visualise the retrieved BGP data. 
</div>
<br>
<div id="query">
	If you want to use our service you can input a query into our 
	<a href="{% url 'bgpWebApp:query' 'bgp' %}">form</a>
</div>
{% endblock %}
