{% extends 'bgpWebApp/base.html' %}
{% load static %}

{% block title %}Query{% endblock %}

{% block headers %}
{% load staticfiles %}
<script src="{% static 'bgpWebApp/js/result_handler.js' %}"></script>
<script src="{% static 'bgpWebApp/js/query.js' %}"></script>
<script src="{% static 'bgpWebApp/js/libs/oboe-browser.js' %}"></script>
<script src="{% static 'bgpWebApp/js/libs/bootstrap-select.min.js' %}"></script>
<script src="{% static 'bgpWebApp/js/libs/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bgpWebApp/css/libs/jquery.dataTables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bgpWebApp/css/libs/bootstrap-select.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bgpWebApp/css/query.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bgpWebApp/css/query_builder.css' %}" />
{% endblock %}


{% block content %}
	<div id="query_container">
		<div id="query_addition">
		</div>
		<div id="query">
			{% include 'bgpWebApp/query_builder.html' %}
		</div>
	</div>
	<div id="result">
	<table id="table" class="display compact" width="100%"></table>
    <span id=prevPage >Prev</span>
    <span id=nextPage >Next</span>
	<br>
    <span id=pageNum></span>

	</div>
{% endblock %}
