{% extends 'bgpWebApp/base.html' %}
{% load static %}

{% block title %}Query{% endblock %}

{% block headers %}
{% load staticfiles %}
<script src={% static 'bgpWebApp/js/result_handler.js' %}></script>
<script src={% static 'bgpWebApp/js/oboe-browser.js' %}></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js'></script>
<script src='//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js'></script>
<link rel="stylesheet" type="text/css" href='//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css' />
<link rel="stylesheet" type="text/css" href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css' />
<link rel="stylesheet" type="text/css" href="{% static 'bgpWebApp/css/query.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bgpWebApp/css/query_builder.css' %}" />
{% endblock %}


{% block content %}
	<div id="query_container">
		<div id="query_addition">
		</div>
		<div id="query">
			{% include 'bgpWebApp/gui.html' %}
		</div>
	</div>
	<div id="result">
	<table id="table" class="display" width="100%"></table>
    <span id=prevPage >Prev</span>
    <span id=nextPage >Next</span>

	</div>
{% endblock %}
