{% extends 'bgpWebApp/base.html' %}

{% block title %}RAML{% endblock %}

{% block headers %}{% endblock %}

{% block content %}

#%RAML 0.8

title: VAST HTTP API
baseURI: mob1.cpt.haw-hamburg.de:1080/API/{version}
version: v0.1
/query: 
	get:
		queryParameters:
			expression:
				displayName: expression
				type: string /* query language */
				description: query expression
				example: &time<now
				required: true
			continous:
				displayName: continous
				type: bool 
				description: Mark the exporter as continous
				example: true
				required: false
			historical:
				displayName: historical
				type: bool 
				description: Marks this exporter as historical
				example: true
				required: false
			unified:
				displayName: unified
				type: bool 
				description: Marks this exporter as unified , which is  equivalent to both
				example: true
				required: false
			limit:
				displayName: limit
				type: bool 
				description: The maximum number of events to extract; n = 0 means unlimited.
				example: 1000
				required: false
		responses:
			200:
				header: 
					Content-Type: application/json
					Access-Control-Allow-Origin: *
				body:
					example:
									{ 
											'result_size' : 10000000, 
											'request_id' : 4858866
									}
	/result:
		get:
			queryParameters:
				request_id: 
					displayName: request_id
					type: int
					description: Unique query request identifier
					example: 855475568654
					required: true
				start_index:	
					displayName: start_index
					type: int
					description: First entry index of requested result range.
					default: 0 
					example: 50 
					required: false
				end_index:
					displayName: end_index
					type: int
					description: Last entry index of requested result range.
					default: 49
					example: 100 /* -1 for the last entry */
					required: false
			responses:
				200:
					header:
						Content-Type: application/json
						Access-Control-Allow-Origin: *
					body:
						example:
										{
											"id": 0,
											"timestamp": 1430812815000000000,
											"value": {
												"data": {
													"aggregator": null,
													"as_path": [
														6881,
														6939
													],
													"atomic_aggregate": "NAG",
													"community": null,
													"local_pref": 0,
													"med": 0,
													"nexthop": "195.47.235.100",
													"origin": "IGP",
													"origin_as": null,
													"prefix": "213.52.131.0/24",
													"source_as": 6881,
													"source_ip": "195.47.235.100",
													"timestamp": 1430812815000000000
												},
												"type": "bgpdump::announcement = record {timestamp: time, source_ip: addr, source_as: count, prefix: subnet, as_path: vector<count>, origin_as: count, origin: string, nexthop: addr, local_pref: count, med: count, community: string, atomic_aggregate: string, aggregator: string}"
											}
										}
/schema:
	get:
		responses:
			header: 
				Content-Type: application/json
				Access-Control-Allow-Origin: *
			body:
				example:
								[ 'bro', 'pcap', 'bgpdump' ]
	/{schema_name}:
		get:
			responses:
				header: 
					Content-Type: application/json
					Access-Control-Allow-Origin: *
				body:
					example:
						{  
							'bgpdump::announcement':
							{
								'type' : 'record',
								{
									'timestamp': 'time', 'source_ip': 'addr', 'source_as': 'count', 'prefix': 'subnet', 'as_path': 'vector<count>', 'origin_as': 'count', 'origin': 'string', 'nexthop': 'addr', 'local_pref': 'count', 'med': 'count', 'community': 'string', 'atomic_aggregate': 'string', 'aggregator': 'string'
								}
							},
							'bgdump::withdraw': 
							{ 
								'type' : 'record',
								{...}
						}
					
{% endblock %}
