/* footer stuff */
html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5em;
	background-color: #f5f5f5;
	text-align: right;
	min-width: 100%;
}	

.navbar-inverse .navbar-nav li > a:hover {
	color: #009999 !important;
}

.navbar-inverse .navbar-header a:hover {
	color: #009999 !important;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	margin-left: -10em;
}

.navbar .navbar-collapse {
	text-align: center;
}

#rowMaker {
	margin-right: 0em;
	margin-left: 0em;
}

.result_table {
	text-align: left;
}

.content.container {
	padding-right: 0em;
	padding-left: 0em;
	padding-top: 3.5em;
	padding-bottom: 2.5em;
	text-align: center;
	position: relative;
	min-width: 100%;
	min-height: 100%;
}	

hr {
	height: 0.2em;
	background: #717171;
}

/* for VisJS */
#network_graph {
	display: inline-block;
	width: 600px;
	height: 400px;
	border: 1px solid lightgray;
}
