/* footer stuff */
html {
	position: relative;
	min-height: 100%;
}

body {
	min-height: 100%;
	/* fattable stuff */
	background-color: #FFF !important;
	width: 100% !important;	
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.5em;
	background-color: #f5f5f5;
	text-align: right;
	min-width: 100%;
}	

.navbar-inverse .navbar-nav li > a:hover {
	color: #009999 !important;
}

.navbar-inverse .navbar-header a:hover {
	color: #009999 !important;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	margin-left: -10em;
}

.navbar .navbar-collapse {
	text-align: center;
}

.active_link > a,
.active_link > a:hover,
.active_link > a:focus {
	color: #009999 !important;
}

#rowMaker {
	min-height: 100%;
}

#contentCol {
	min-height: 100%;
}

.content.container {
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 3.5em;
	padding-bottom: 2.5em;
	text-align: center;
	position: relative;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
}	

hr {
	height: 0.2em;
	background: #717171;
}

