.result_table {
	text-align: left;
}

#result {
    float:left;
	overflow: auto;
	width: 100%;
    margin-top:15px;
}

#query {
    float:left;
}

.progress-bar {
	background-image: none;
	background-color: #009999;
}
