#result {
	width: 95%;
	margin-top:15px;
	min-height: 100%;
}

#table {
	/*border-width: 0.1em;
	border-style: solid; 
	margin-top: 1em;
	height: 40em;*/
}
td { 
 overflow: hidden;
 text-overflow: ellipsis; 
}

#table_info {
    display:none;

}

#loading_bar_container {
	min-height: 100%;
	float: left;
	width: 100%;
}

.progress-bar {
	background-color: #009999;
}

#query_addition {
	margin-top: 2em;
	float: left;
}

#prevPage {
    cursor:pointer;
}

#nextPage {
    cursor:pointer;
}

